<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SocialNetwork</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=960"/>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<!--[if lt IE 9]>
   <p class="browsehappy">Ваш браузер <strong>устарел</strong>. Пожалуйста <a href="http://browsehappy.com/">обновите</a></p>
<![endif]-->
    <div class="wrapper">
        <div class="maincontent">
            <header class="header">
                <div class="container clearfix">
                    <div class="header__left">
                        <div class="user__avatar">
                            <img th:src="@{/resources/img/user/avatar.jpg}" alt="avatar" class="user__image"/>
                        </div>
                        <div class="user__name">Social Network</div>
                    </div>
                    <div class="header__right">
                        <a class="registration" href="registration.html">
                            Registration
                        </a>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container clearfix">
                    <aside class="aside">
                        <div class="nav">
                            <ul class="nav__ul">
                                <li class="nav__li"><a href="index.html" class="nav__link"><span class="nav__text">Home page</span></a></li>
                                <li class="nav__li"><a href="login.html" class="nav__link"><span class="nav__text">Login</span></a></li>
                                <li class="nav__li"><a href="profile.html" class="nav__link"><span class="nav__text">Profile</span></a></li>
                                <li class="nav__li  nav__li_selected"><a href="messages.html" class="nav__link"><span class="nav__text">Show messages</span></a></li>
                                <li class="nav__li"><a href="sendmessages.html" class="nav__link"><span class="nav__text">Send message</span></a></li>
                                <li class="nav__li"><a href="friendlist.html" class="nav__link"><span class="nav__text">My friends</span></a></li>
                                <li class="nav__li"><a href="rating.html" class="nav__link"><span class="nav__text">Rating Service</span></a></li>
                                <li class="nav__li"><a href="finduser.html" class="nav__link"><span class="nav__text">Find User</span></a></li>
                            </ul>
                        </div>
                    </aside>
                    <main class="stuff">
                        <div class="messages">
                            <div class="messages__title">My messages</div>
                            <div class="messages__public">
                                <div class="messages__public-title">Public messages</div>
                                <ul class="messages__list messages__list-public">
                                    <li th:each="message : ${publicMessageList}" class="messages__item messages__item-public">
                                        <div class="message__from-title">Author:</div>
                                        <div th:text="${id}+${message.owner.id}+${space}+${message.owner.name}+${space}+
                                        ${message.owner.surname}" class="message__from">From</div>
                                        <div th:text="${message.message}" class="message__test"></div>
                                    </li>
                                </ul> 
                            </div>
                            <div class="messages__private">
                                <div class="messages__private-title">Private messages</div>
                                <ul class="messages__list messages__list-private">
                                    <li th:each="message : ${privateMessageList}" class="messages__item messages__item-private">
                                        <div class="message__from-title">From:</div>
                                        <div th:text="${id}+${message.owner.id}+${space}+${message.owner.name}+${space}+
                                        ${message.owner.surname}" class="message__from">From</div>
                                        <div th:text="${message.message}" class="message__test"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__left">
                <div class="copyright">©SocialNetwork</div>
            </div>
            <div class="footer__right">
                <ul class="social__ul">
                    <li class="social__li"><a href="https://twitter.com" class="social__link social__link_tw"></a></li>
                    <li class="social__li"><a href="https://vk.com/" class="social__link social__link_vk"></a></li>
                    <li class="social__li"><a href="https://www.facebook.com" class="social__link social__link_fb"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>